body{
    background-color: rgb(238, 190, 87);
}
.container{
    /* height: 100vh; */
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hide{
    display: none;
}

.game{
    /* height: 60vmin; */
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
.box{
    height: 120px;
    width: 120px;
    border-radius: 10px;
    border: none;
    box-shadow: inset 0 0 0.7rem rgba(102, 101, 101, 0.516);
    margin: 5px;
    font-size: 25px;
    font-weight: 700;
    background-color: #36BA98;
    color: #fff;
}
#reset{
    font-size: 30px;
    background-color: brown;
    color: white;
    padding: 1rem;
    box-shadow: 0 0 0.7rem rgb(42, 48, 34);
}

#newBtn{
    font-size: 30px;
    background-color: brown;
    color: white;
    padding: 1rem;
    box-shadow: 0 0 0.7rem rgb(42, 48, 34);
}